* {
    margin: 0;
    padding: 0;
}

.nav-container {
    background-color: darkslateblue;
    list-style: none; /* 없으면 list의 동글이 안 없어짐 */
    display: flex; /* 없으면 한 줄로 정렬 안 됨. li 태그가 블록 요소이기 때문 */
    justify-content: right; /* 주축을 기준으로 정렬 */
    /* 주축 정하기 : flex-direction: row-reverse; */ 
    
}

.nav-item {
    padding: 15px;      
    cursor: pointer;    /* li 요소에 올릴 때부터 마우스 모양을 바꾸느냐 바꾸지 않느냐의 여부. point를 주면 바꿈. */
} 

.nav-item:hover {       /* 마우스를 올렸을 시의 효괴 */
    background-color: lightblue;
}

.nav-item a {       /* class="nav-item 하위의 모든 것 */
    /* text-align: right; */ /* flex가 없을 때는 효과있지만, flex를 줌으로써 없어도됨. 텍스트를 정렬한다.*/
    text-decoration: none;   /* a태그의 밑줄을 없앤다. */
    color: white;
}